[2019-05-30 02:50] TobiTenno opened #26 "Join the WFCD Org"
Couldn't find a way to contact you privately, contact us on discord. Add me: Tobiah#0001

[2019-06-03 13:00] SlayerOrnstein commented on #26
sure

[2019-06-03 21:11] #26 closed

[2019-06-25 22:43] scorchgid opened #28 "[UI] Sortie text does not fit within text box"
Please see image inserted and excuse the lazyness of not cropping.

Essentially the first sortie mission's text is too long for the box to fit in I've seen this occur with other sorties as well on the app.

I am currently on your beta channel but I've seen this occur on stable as well.

Phone model: OP3T
OS: Android 9

![image](https://i.imgur.com/fdfoqQX.jpg)

Good luck.

Ps please ignore the yel

[2019-06-26 00:42] SlayerOrnstein commented on #28
well I can't really say what the cause would be since my Nexus 5 or the emulator are showing this problem. But I tweaked the design a bit, if you want to see if it fits now [apk](https://www.dropbox.com/s/l146i9s7m0jrf7h/app-release.apk?dl=0)

[2019-07-23 01:26] SlayerOrnstein commented on #28
well enough time has passed and safe to say this was probably already fixed so closing for now

[2019-07-23 01:26] #28 closed

[2019-08-15 06:35] xLuffiy opened #29 "Notifications for planet rotations not working"
**Describe the bug**
In the settings I have tried both checkmarking and unchecking the day/ night cycle for all planets and none of them are pushing notifications when the cycle approaches.

**To Reproduce**
Galaxy S10 phone
Check/uncheck cycle notifications

**Expected behavior**
If I understand correctly, it should be pushing a notification outside the app to alert me for approaching day/night o

[2019-08-15 08:11] SlayerOrnstein commented on #29
what is your proffered platform, i.e. pc, ps4

[2019-08-15 08:23] xLuffiy commented on #29
PC

[2019-08-15 08:51] SlayerOrnstein commented on #29
alright I'll take a look, I honestly thought I was just because I work on the app so I don't always have a persistent setting for myself so I never realized it.

[2019-08-15 15:21] SlayerOrnstein commented on #29
@xLuffiy alright so I solved the issue with the app itself not receiving notifications but the API is going through a phase so I'm trying to workaround anything that might end up non-existent before I release a build

[2019-08-15 19:18] xLuffiy commented on #29
Awesome, I did see the test notification you pushed out earlier. Sounds
like you have a good idea of what's going on :)

Thank you for looking into this.

On Thu, Aug 15, 2019, 8:22 AM Orn <notifications@github.com> wrote:

[2019-08-16 03:27] SlayerOrnstein commented on #29
@xLuffiy heads up a beta build is going up in a few hours with the notification fix along with a bunch of other fixes, if you still don't receive notifications for planet rotations you'll have to toggle platforms from PC to any random one and back to PC.

[2019-08-16 10:23] xLuffiy commented on #29
I just noticed I needed to join the beta to get the update. I'll let you
know in the morning if I have any issues.

On Thu, Aug 15, 2019 at 8:27 PM Orn <notifications@github.com> wrote:

[2019-08-16 21:32] xLuffiy commented on #29
So I tested it and still not working. I tried what you said, changing platform back and forth, I also deleted app data, app cache, and did both checked / unchecked filters.

[2019-08-16 21:38] SlayerOrnstein commented on #29
According to Google play console the beta build is still being processed if
your app version starts with 1.2.21 then I'll keep taking a look if not
then all we can do is wait till Google finishes processing it.

Will probably upload the release to GitHub's release page if it hasn't
finished processing by the time I get home.

On Fri, Aug 16, 2019, 5:32 PM xLuffiy <notifications@github.com> wrote:

[2019-08-17 01:25] SlayerOrnstein commented on #29
@xLuffiy alright Google is still processing so I uploaded it to the release page of GitHub [here`](https://github.com/WFCD/navis/releases/tag/v1.2.21).

[2019-08-17 01:59] xLuffiy commented on #29
Either way is fine. There is no rush. I'm happy to test it for you when
it's available.

On Fri, Aug 16, 2019, 2:38 PM Orn <notifications@github.com> wrote:

[2019-08-17 07:46] xLuffiy commented on #29
Good news! It got pushed out and it looks like it is working just fine.

On Fri, Aug 16, 2019 at 6:58 PM Cody Holt <switchbladeii@gmail.com> wrote:

[2019-08-17 08:20] SlayerOrnstein commented on #29
That's great news, gonna do a last round on a build and push it out to stable.

[2019-08-17 08:20] #29 closed

[2019-08-18 08:24] Nickdv9 opened #30 "Fissure/Invasion/Sortie Notifications, Nightwave and embed links for searchable items from drop rates"
Hello,
First of all, I would like to thank you for your project, since this is only actively maintained tracker app for warframe right now.

There are three things that I would like to suggest:

**1: Notifications for Fissures/Invasions/Sorties:**
Not sure if this is being worked upon already but I'd like to know if notifications can be expanded to fissures, invasions and sorties or atleast the fi

[2019-08-18 12:23] TobiTenno commented on #30
For nightwave offerings, DE doesn't really expose that on their data endpoints, so it's be a weekly (or every few weeks?) manual update, which would kinda suck.

Could integrate the items endpoint to get specific item data for 3, that'd bring the wiki link with it too...

[2019-08-18 12:40] SlayerOrnstein commented on #30
I could get started on the invasions, fissures and sortie notifications, actually I think sorties is done just not completed implemented in the app.

[2019-08-18 12:45] Nickdv9 commented on #30
I see, thank you @TobiTenno @SlayerOrnstein for looking into this

[2019-08-18 19:21] TobiTenno commented on #30
I just work on the API, orn does the hard stuff for getting it on navis. Ty for the request!

[2019-08-31 21:53] ILynxIl opened #31 "Notification before day or night"
While notifying when it just turns is good but your doing something a 5 or 10 before notification would so u could load in.

[2019-09-01 21:28] SlayerOrnstein commented on #31
Sure I can take a look at it in a bit, 10 mins sounds better gives you time to make a squad

[2019-09-01 22:35] ILynxIl commented on #31
Thank you. It would be a really nice addition.
--
Sent from my Android phone with mail.com Mail. Please excuse my brevity.On 9/1/19, 4:28 PM Orn <notifications@github.com> wrote:
Sure I can take a look at it in a bit, 10 mins sounds better gives you time to make a squad

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.
[
{

[2019-09-02 03:13] SlayerOrnstein commented on #31
alright you should start getting cetus day/nght notifications 10 mins early

[2019-09-03 09:09] SlayerOrnstein commented on #31
@ILynxIl you should now be receiving Cetus day/night notifications 10 mins before the end

[2019-09-03 09:09] #31 closed

[2019-09-21 06:31] Nickdv9 commented on #30
@TobiTenno @SlayerOrnstein This is shaping out really well. Thank you for all your work again. I have used all the betas over the last month and all my suggestions are very well addressed! The feature that allows to filter notifications based on rewards for invasions is really great!
I understand that some features i mentioned are still in development, however there are a couple things that I want

[2019-09-21 17:40] SlayerOrnstein commented on #30
Alright that's ready for the next release, fissure notifications will be worked on when I add all the resources and feel like invasion notifications is good before moving on

[2019-09-23 21:15] TobiTenno commented on #30
@Nickdv9 individual relics don't really have pages of their own. Theoretically they could get tagged and always get the same wiki page, but that also seems unhelpful.

[2019-09-25 17:01] Nickdv9 commented on #30
@SlayerOrnstein @TobiTenno Thank you for clarification. With the latest update, the codex search term behaviour works exactly the way i had expected and the notifications are very detailed. Thanks again for implementing all the changes :)

[2019-10-20 02:53] SlayerOrnstein opened #32 "Arbitration"
Want to add Arbitration so I'll leave this open to keep track of it, if anyone has a UI design they want to shoot out let me know. I myself don't really have anything in mind just going with what looks good in my head.

[2019-10-20 20:09] TobiTenno commented on #32
🤔 maybe something simply like sorties?

[2019-10-20 21:16] SlayerOrnstein commented on #32
![Screenshot_20191020-171128_Navis 1](https://user-images.githubusercontent.com/6075693/67166421-42383a00-f35d-11e9-95df-c93db39e7676.png)

This is what i thought up

[2019-10-21 02:58] TobiTenno commented on #32
yeah, that looks fantastic

[2019-12-04 00:18] SlayerOrnstein opened #33 "Allow google cloud backups"
**Description**
Right now google automatically backups all apps the user has download, exception to those specifically excluded from the app manifest. Since Navis isn't any restores of the app will break notifications and the user would have to toggle each one off and back on including switching to and back from their saved game platform. For now the next update will exclude Navis from all future

[2020-02-09 05:17] SlayerOrnstein commented on #33
So long story short, firebase generates a new id on app install so it is not supported by google.

[2020-02-09 05:17] #33 closed

[2020-02-14 12:02] Fmagdi opened #42 "Resource notifications not working"
While all direct notifications (based on check boxes in settings window) are working properly, those behind a secondary menu (in my case, Resources) are not firing any notifications when the checked resource has an invasion that rewards it (I have forma, exilus adapter, orokin catalyst, and orokin reactor selected)

To confirm notifications are otherwise working, I have Baro, world cycles, Sentien

[2020-02-14 12:08] Fmagdi commented on #42
Three more things I forgot to mention:
- While Cycles and Acolytes use the same list system as Resources as I just realised after looking again at the settings, their notifications are working properly but not the resources. My apologies for the misinformation.
- I have also updated the drop table just in case it could be related. That didn't fix the issue.
- I have tried removing all ticks from t

[2020-02-15 19:09] SlayerOrnstein commented on #42
So just resource notifications don't work?

[2020-02-15 19:11] Fmagdi commented on #42
Yes, the rest is working normally.

[2020-02-16 06:19] SlayerOrnstein commented on #42
Well I'm going to keep looking into it, but I just got notifications for both Fieldron and Detonite.

[2020-02-16 07:55] Fmagdi commented on #42
To be honest I didn't try Dentonite or Feildron, as I only cared about the orokin catalyst/reactor, exilus adapter, and forma. I just ticked Fieldron and Dentonite to check and will update you with the results.

[2020-02-16 08:18] SlayerOrnstein commented on #42
I mean I'll keep looking but those are pretty rare invasions. I've been working on the next version of Navis and finishing nightwave, so I can't really say for certain if there was even one of those within the past to weeks

[2020-02-16 10:35] Fmagdi commented on #42
There was a forma one within the past two weeks (Grinneer vs Corpus), but yes I totally understand the rarity of these alerts makes catching/testing an issue quite difficult. If I manage to log while one is up I'll notify you if that helps.

Also to update you, i tested ticking dentonite and feildron and their notifications came without issues. I'll also try the weapon parts/blueprint invasions to

[2020-02-17 05:13] SlayerOrnstein commented on #42
Notifications are sent within 2 - 3 mins of them appearing as to avoid duplicates when caching is cleared up. It's possible that if a failure to connect to the API within that window, failed then it just wouldn't send it, regardless of whether it was cached it not.

[2020-03-05 22:10] MrHallows commented on #32
Do you have the Arbitration Drone icon? I think that if it replaced the Arbiters of Hexis icon, it would make it a bit more clear that, that tile is for Arbitrations. If you like the idea, but don't have the icon, I'd be happy to create one in SVG format for you.

[2020-03-06 00:07] SlayerOrnstein commented on #32
Well I don't mind, I'm rewriting it as it is and along with it the Ui. It would also be nice to use the skyboxes a bit less. The new one is more minimal but it uses the same icon is you want to see it and have more ideas, so long as it's within the API's abilities.

[2020-03-18 20:30] SlayerOrnstein commented on #42
Alight I found the problem a fix is going out server side. Everything should be smoother from here on out.

Will keep this open till the next reactor/catalyst alerts to see if it all worked out. @Fmagdi

[2020-03-18 20:52] Fmagdi commented on #42
Thank you, I really appreciate it. I can imagine how hard it is to debug a problem with such a rare situation.

[2020-03-19 02:15] SlayerOrnstein commented on #42
Yeah my mistake was reading the wiki and thinking "yeah it's probably just the built reactor/catalyst".

[2020-04-07 18:43] Fmagdi commented on #42
Forma and Orokin reward invasions produced a notification today. Thanks you sooo much for your investigation and effort. Makes a great tool even better. 👍👍

[2020-04-07 18:43] #42 closed

[2020-04-09 23:34] MrHallows opened #56 "Slight Time Difference in Arbitration Countdown Timer"
**Describe the bug**
There appears to be about a ~3m28s difference between the in-game and in-app countdown timer for the active Arbitration mission, with the in-app timer showing ~3m28s more time left than the in-game timer.

**To Reproduce**
Compare the in-game timer to the in-app timer.

**Expected behavior**
You should notice the aforementioned time difference.

**Smartphone (please complete t

[2020-04-10 00:38] SlayerOrnstein commented on #56
Well the app has around the same time give or take ~2s on Warframe hub, so this may be related to the api @TobiTenno ?

[2020-04-10 01:34] TobiTenno commented on #56
Yeah, that'd be because all the sources that provide it are guessing. We get it from semlar, who gets it from the games' ee.log, so there's bound to be a bit of drift.

[2020-04-10 23:48] SlayerOrnstein commented on #56
Yeah I can't do anything to work around that @MrHallows

[2020-04-10 23:54] MrHallows commented on #56
Oh, that makes sense. Thank you both for your prompt responses and no worries at all. I appreciate you both very much for all of the awesome work you've done for the Warframe community.

[2020-04-10 23:55] #56 closed

[2020-05-22 14:03] TobiTenno opened #65 "Mislabeled Field?"
**Describe the bug**
[I18n vague string](https://navis.t.warframe.gg/translate/cephalon-navis/72/en-ru#79002)

**To Reproduce**
Steps to reproduce the behavior:
misplaced, not something repro-able

**Expected behavior**
A clear and concise description of what you expected to happen.
should be cetus night, given the cotnext?

**Screenshots (optional)**
If applicable, add screenshots to help explain

[2020-05-22 14:07] SlayerOrnstein commented on #65
Yup fixed it

[2020-05-22 14:07] #65 closed

[2020-05-29 21:55] SlayerOrnstein commented on #32
@MrHallows the reason for it is the way I handle loading a skybox is dependent on the node, and with localization it gets a bit hard. when there is like maybe a few fissures/invasions loading them even from network it's easy but we all know at times there ends up being around ~3 node per era, loading that many at least for me has cause some jank.

I like them too which is why I'm doing tweaks in t

[2020-05-29 22:50] MrHallows commented on #32
@SlayerOrnstein Oh, okay. Fair point. Wouldn't loading the skyboxes directly as local assets cause less jank? Also, how exactly do images play into localisation? I've never encountered that before; only with textual content.

[2020-05-29 22:51] TobiTenno commented on #32
Because the text of the node is localized when it's received by clients, there's no "node key" as of yet

[2020-05-29 22:52] SlayerOrnstein commented on #32
@MrHallows I match the node to the name of the skybox, and having all the assets including their localizations increases the size of the APK. Not sure how it works with appbundle though.

[2020-05-30 00:51] MrHallows commented on #32
Ah, I see. So, I may be off base here as I don't have very much experience with localisation, but couldn't you use JSON or an array to store the string for each localised node name (or planet/region name, rather), then run a comparison with the JSON object/array to match it to the appropriate file name (in English)? That way only one copy of each skybox is necessary.

[2020-05-30 06:40] SlayerOrnstein commented on #32
Hm well, I don't really have much experience with coding in general so I always assumed there was a better way for it and never made much on that idea. In my head I thought of something like this?

[code]

and then just find which one contains the translations?

[2020-05-31 04:42] MrHallows commented on #32
@SlayerOrnstein Yes, that is exactly how I was imagining it structured, too. Iterating through those to match the translation to the respective planet name would take a minimal amount of time, then all you'd have to do is set the skybox image based on the returned planet name.

[2020-05-31 05:03] SlayerOrnstein commented on #32
Yeah I can do that, might do it for the next version since there's only a few things left, and majority of the core features are already done.

[2020-07-12 18:14] SlayerOrnstein commented on #30
And [54175ea](https://github.com/WFCD/navis/commit/54175ea3e3a3a4bae76ebfa42424568606842a61) closes this request

[2020-07-12 18:14] #30 closed

[2020-07-13 09:43] F1ERCEFR0G opened #71 "Notifications for specificc types of fissures"
First off I love your work, the app is amazing
I think something that would be cool would be being able to turn on notifications for specific mission types such as the endless fissures. That way I could turn notifications on for like, survival/defense/excavate/disruption
I'm not really sure how to do coding, so unfortunately I'm not sure how to help. Thanks again for the awesome app! - android use

[2020-07-13 10:07] SlayerOrnstein commented on #71
It's currently out on beta, give it a bit to roll out to production though. if not you can always just get it [here](https://github.com/WFCD/navis/releases/tag/v1.9.0). Any phone from the pass 2-3 years are arm64 so you should be fine with that.

[2020-07-13 10:51] #71 closed

[2020-12-14 01:59] Neo-Desktop opened #80 "Drop percentages off by x100"
![Screenshot_20201213-175244](https://user-images.githubusercontent.com/321592/102032038-9fb2f580-3d6c-11eb-9acb-3faa77c71f73.png)
According to the drop tables from [Warframe PC Drops](https://n8k6e2y6.ssl.hwcdn.net/repos/hnfvc0o3jnfvc873njb03enrf56.html) the drop percentages should be moved over by 2 decimal places.

Please advise.

[2020-12-14 02:24] SlayerOrnstein commented on #80
Which item are you looking at? So I can see what the correct drop rates are.

[2020-12-14 18:38] Neo-Desktop commented on #80
I was taking a look at `Ivara Systems Blueprint` in that particular screen shot
![ivara drop](https://user-images.githubusercontent.com/321592/102121069-3d073b80-3df8-11eb-869a-19387285e15f.png)

Am I misinterpreting what the drop chance percentages are (i.e. is this intentional?) or should they be reflecting what I'm highlighting

[2020-12-14 20:36] SlayerOrnstein commented on #80
Well I display it as I receive it from the API, I remember the was a reason for it but I can't remember where I saw the explanation for it. @TobiTenno I wanna say I say you pussy it on discord but I can't find it.

[2020-12-14 20:43] TobiTenno commented on #80
If you pull it straight from the API, its represented fractionally, whereas the drop site displays percentage. We might wanna change the app to do the calc to get it as a percent.

[2020-12-14 20:44] TobiTenno commented on #80
I'm happy to go write the fix since I was unclear

[2020-12-14 20:46] TobiTenno commented on #80
There are some things that look like totally different numbers because there's sometimes a % to drop something and a % inside that to drop the specific item, and the API returns the resultant chance

[2020-12-14 20:58] SlayerOrnstein commented on #80
So basically I want what I want to do is `drop.chance * 100` ?

[2020-12-14 21:08] SlayerOrnstein commented on #80
![Screenshot_1607980054](https://user-images.githubusercontent.com/6075693/102135856-92f2d800-3e26-11eb-9c84-ac9b9a451a2a.png)

Okay seems I got it

[2020-12-14 21:09] TobiTenno commented on #80
yay! i just got my local setup updated, so i'm a slow.

[2020-12-14 21:16] SlayerOrnstein commented on #80
Fix should be out in a few hours

[2020-12-14 21:53] #80 closed

[2021-01-11 10:07] #32 closed

[2021-01-13 15:52] SlayerOrnstein opened #82 "Warframe market intergration"
**Is your feature request related to a problem? Please describe.**
Not related to any problems.

**Describe the solution you'd like**
Having a list of sells/buys of a specific tradable item under an item's codex entry. This would also work out to help with riven mod pricing since DE's riven data is as helpful as having active trade data with riven stats. This would be just a limited thing, I don't

[2021-01-13 17:48] Brocki1704 opened #83 "Wrong Fissure Missions shown"
I activated PS4 but getting shown the wrong fissure missions and also to many missions are shown(+19 missions)

[2021-01-13 17:59] TobiTenno commented on #83
could you provide screenshots and details on version, device, etc?

[2021-01-13 19:52] Brocki1704 commented on #83
![Screenshot_20210113-204956](https://user-images.githubusercontent.com/77406805/104503292-26175d00-55e1-11eb-9796-b9f15bfd205a.jpg)
![Screenshot_20210113-204956](https://user-images.githubusercontent.com/77406805/104503296-2b74a780-55e1-11eb-8829-ac593f923b6e.jpg)
![Screenshot_20210113-204538__01](https://user-images.githubusercontent.com/77406805/104503300-2c0d3e00-55e1-11eb-8019-f0f870b05786.jp

[2021-01-13 19:52] Brocki1704 commented on #83
![Uploading IMG_20210113_204646.jpg…]()

[2021-01-13 19:58] SlayerOrnstein commented on #83
Does it still do it after you restart the app?

[2021-01-13 20:22] Brocki1704 commented on #83
This is the first thing I tried... YES
New installation doesn't work too

[2021-01-13 20:24] Brocki1704 commented on #83
The Daily quest is also buggy

[2021-01-13 21:54] TobiTenno commented on #83
do you mean sortie?

[2021-01-13 22:10] Brocki1704 commented on #83
1. The Version is on the first picture 😑
2. Yeah I mean sortie

[2021-01-13 22:33] SlayerOrnstein commented on #83
Yeah i tired I can reproduce the problem you're having, gonna keep trying but as of now I can't pin point what's going on

[2021-01-14 16:31] SlayerOrnstein commented on #83
@Brocki1704 are you still getting the same problem or did it fix itself, because I've been trying and switching platforms every so often and I have yet to reproduce it.

[2021-01-14 17:46] Brocki1704 commented on #83
Yes/No the Fissure mission works right but now the Probleme changed to
Invasion Missions. I changed the platform only after the reinstall

Ornstein <notifications@github.com> schrieb am Do., 14. Jan. 2021, 17:32:

[2021-01-14 20:14] SlayerOrnstein commented on #83
oh okay I see it now, @TobiTenno a negative completion is considered done correct?

[2021-01-14 20:19] TobiTenno commented on #83
Like completed: false? No, that should be ongoing..

Should just be able to check completed: true

[2021-01-14 20:20] SlayerOrnstein commented on #83
ah that works

[2021-01-14 20:24] SlayerOrnstein commented on #83
I assume that fissure.expired works the same way then @TobiTenno ?

[2021-01-14 21:19] TobiTenno commented on #83
Yeah

[2021-01-15 06:01] SlayerOrnstein commented on #83
Looks like NDK got upgrade in GA's virtual environment and the Android build failed. How fix it in a bit and do another release.

[2021-01-15 07:54] SlayerOrnstein commented on #83
@Brocki1704 please wait about 24hr and an update with a fix should be in the play store on the beta line

[2021-01-16 13:42] #83 closed

[2021-05-11 21:54] KerstinMaur opened #93 "Label Darvo Deal Paragraph"
**Is your feature request related to a problem? Please describe.**
I was not sure about what the paragraph in the screenshot was about. I thought it might be the deal from Darvo but I had to visit him to be sure. 😂

**Describe the solution you'd like**
Maybe there could be a label **Darvo deal** in that paragraph (like **Void trader** in the paragraph above). 🤔

**Describe alternatives you've cons

[2021-05-11 22:04] KerstinMaur opened #94 "Personal Inventory"
**Is your feature request related to a problem? Please describe.**
I am not sure which stuff I already have and what I need. 😅

**Describe the solution you'd like**
There might be some sort of inventory where users can see all warframes, weapons, sentinels and mods and mark the ones they own. ✔️

**Describe alternatives you've considered**
At the moment I am using a spreadsheet (e.g. [LibreOffice

[2021-05-11 22:05] KerstinMaur commented on #82
I like this idea. 👍

[2021-05-12 04:00] SlayerOrnstein commented on #93
Alright I'll add this EST morning.

[2021-05-12 16:52] SlayerOrnstein commented on #94
I've always found this to be out of the general scope of app, but if you really need one I've heard good things from this one https://warframe-foundry.app/

For now I'm gonna just be doing so QoL and fixes, when I feel like it's a good spot stability wise then I'll start adding more features, with this one most likely being the first thing added considering how many times I've been asked in the pa

[2021-05-12 17:00] SlayerOrnstein commented on #93
Should be out in a few hours if you're on Android, a day or two on iOS.

[2021-05-13 23:00] #93 closed

[2021-05-16 16:31] KerstinMaur commented on #93
Thank you so much for the blazing fast implementation!

[2021-06-11 04:11] SlayerOrnstein commented on #94
@KerstinMaur @TobiTenno How should we go about this then?

[2021-06-11 17:33] TobiTenno commented on #94
we could write our own api for inventory and save it ourselves from that, but then authentication, etc....
could get gross

[2021-06-11 18:34] SlayerOrnstein commented on #94
Oof we could always use sqlite or hive, run the DB from local storage.

[2021-06-12 20:18] TobiTenno commented on #94
true, just wouldn't persist across sessions, like if they have a phone, tablet, etc. or if we end up in a browser or desktop app someday

[2021-06-13 01:24] SlayerOrnstein commented on #94
Would setting something up like appwrite or superbase help then?

[2021-06-13 01:58] TobiTenno commented on #94
something like that would work

[2021-06-13 02:42] SlayerOrnstein commented on #94
What works better for you? I've never messed with database enough to know how to make something that would scale that well, so having someone with xp to help out would be best on my end.

[2021-07-16 19:41] wfcd-bot-boi opened #103 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure y

[2021-07-16 20:17] wfcd-bot-boi commented on #103
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure y

[2021-07-17 04:03] #103 closed

[2021-07-31 07:00] #82 closed

[2021-08-28 04:24] SlayerOrnstein opened #107 "[Feature] Open world maps"
### Is your feature request related to a problem?

Right now users have to leave the app and load the map externally, which depending on the device and network could take time to load the whole page.

### Describe the feature you would like.

I want to integrate a map view into the app, without creating map tiles.

### Additional context

I used to have an internal map but creating the map tiles i

[2021-12-18 06:15] wellplayyyyyy opened #109 "[Bug] <title>Arbitration disappear"
### Describe the bug

In this update cant see Arbitration information ,is it normal

### How to Reproduce

1.open the app
2.
3.
...

### Expected Behavior

I can see what Arbitration now

### What platform are you using Navis on

Android

### Platform Version

Android11

### Cephalon Navis version

2.5.5

### Additional Context

_No response_

### Code of Conduct

- [X] I agree to follow this proj

[2021-12-18 06:26] TobiTenno commented on #109
that would be because there's no arbitration data right now

[2021-12-18 06:30] TobiTenno commented on #109
Basically not a bug, it's supposed to do this when there's nothing to show.

[2021-12-18 15:02] SlayerOrnstein commented on #109
Yup, some rotate information and others disappear entirely. So like alerts arbitration disappear when they finish.

[2021-12-18 16:44] #109 closed

[2022-02-04 08:34] vanja-san opened #113 "[Feature] User-friendly interface"
### Is your feature request related to a problem?

_No response_

### Describe the feature you would like.

`A little pathos...`
I just wanted to show you how convenient it would be if:
- Instead of a pull-out menu, there was a bottom navigation bar
- Instead of tabs, there were page indicators
- And the drop-down menu, always a good idea
- Also suitable design icons and nice-looking cards

### Ad

[2022-02-04 12:59] SlayerOrnstein commented on #113
First and foremost I'm not a designer so most of the UI/UX was made from what I understood from the material design spec, having said that the design here isn't bad:
- Honestly I'd love to go back to a navigation bar

- indicators would mean more travailing, indicators are meant to show what page you are on, but tabs let you see and skip around pages

- drop downs are always nice, but Simaris targ

[2022-02-04 14:54] TobiTenno commented on #113
typically menus are for options, not "other links dump section"

[2022-02-04 23:11] vanja-san commented on #113
@SlayerOrnstein @TobiTenno
`By way, I apologize for my poor English.` 😅
- I hope so.
- A page change with finger movement should not make it difficult for user to navigate through pages. (Touch Slider)
	- And yes, it's just a sketch, not the final result.
- Here I'm assuming that I'm using gestures on my phone, and pull-out menu isn't very convenient in that case.
	- What if...
		<img src="https:/

[2022-02-04 23:16] vanja-san commented on #113
About the little circle next to name, it's just a marker for logo.

[2022-02-04 23:36] SlayerOrnstein commented on #113
That's actually better, can probably put Simaris target data under there too.

The point that I'm trying to make about indicator vs tab is user experience, users wouldn't want to have to slide 3 times just to get to syndicate missions every time they want to get to syndicates, and if we make indicators tappable we'd have to make them bigger and at that point tabs would be better because they have

[2022-02-04 23:37] SlayerOrnstein commented on #113
Technically speaking Navis doesn't have a logo, so you're good.

[2022-02-05 20:49] SlayerOrnstein commented on #113
@TobiTenno @vanja-san

Apart from somethings here and there, I do like this design and I wouldn't mind adding a lot of this.

[2022-02-06 03:35] vanja-san commented on #113
@SlayerOrnstein Okay, I heard you. I'm going to try and craft something for tabs now. 😌👌

[2022-02-06 04:25] vanja-san commented on #113
@SlayerOrnstein Here's one option (tabs-slide):
<img src="https://user-images.githubusercontent.com/7201687/152667144-821cd0bf-4d88-4de9-b2bd-d53a219272ea.png" width=35%>

ℹ️ Such tabs will be handy for other localization languages.

Highlighted tab:
<img src="https://user-images.githubusercontent.com/7201687/152667520-c9acd1d1-8f28-4424-bda0-db69a6438a82.png" width=35%> OR <img src="https://user-

[2022-02-06 04:54] vanja-san commented on #113
Let me tell you right away, the icons were taken from the Material Design site!

[2022-02-06 05:00] SlayerOrnstein commented on #113
We use flutter, I know they also use material design icons from there, but if you wanna take a closer look https://api.flutter.dev/flutter/material/Icons-class.html

trying to decided which one is closer to spec, since it only says that I *can* have it flushed with the appbar but nothing about not doing it.

[2022-02-06 05:10] vanja-san commented on #113
Choice is yours, my job is to suggest a few ideas. 😌

[2022-02-06 05:14] vanja-san commented on #113
Is there an option to use "rounded" icons there?

[2022-02-06 05:35] SlayerOrnstein commented on #113
Yeah I should be able to as long as it's there.

Will more then likely start implementing bit by bit in the morning this in the morning.

Was really interested in the "exploring" section because it covered how I would add the maps and fishing data so I'm pretty eager about it. Do send me links to the Baro image you were using and any other specs about the cards, I will probably keep the discord bu

[2022-02-06 06:15] vanja-san commented on #113
<details>
  <summary>Images</summary>

  ![изображение](https://user-images.githubusercontent.com/7201687/152669173-0c5817e8-19ac-4431-9a9c-ec3d825e3287.png)

Plains of Eidolon
![изображение](https://user-images.githubusercontent.com/7201687/152669348-ed8a5dcb-61fd-4411-b228-f7557671beb4.png)

Vallis Orb
![изображение](https://user-images.githubusercontent.com/7201687/152669855-a5b7ccf2-9567-4937-

[2022-02-15 23:30] SlayerOrnstein commented on #113
@vanja-san just to let you know #114 creates dev builds that you can use to check the progress and voice concerns

[2022-02-20 00:20] SlayerOrnstein commented on #113
Trying to reuse what we already have with the general concept.

![Screenshot_20220219-191346_Navis~2.png](https://user-images.githubusercontent.com/6075693/154823569-5cc928ff-1087-4904-b93e-c4c48c176a3e.png)

![Screenshot_20220219-191308_Navis~2.png](https://user-images.githubusercontent.com/6075693/154823574-d46698db-ae27-4076-9436-6777734d6725.png)

Note:
Obviously these aren't real timings and

[2022-02-27 12:33] Hadarios opened #115 "[Feature] Set time for notification"
### Is your feature request related to a problem?

_No response_

### Describe the feature you would like.

I think it could be nice to be able to set the hours when you want to receive notifications.
For example, I don't want to receive notifications when I'm at work, but I want to get them at home, so I'd set the notifications to be sent from 6:30PM to 12AM.

### Additional context

_No response

[2022-02-27 22:35] SlayerOrnstein commented on #115
What Android version are you using?

[2022-03-07 01:32] SlayerOrnstein commented on #113
Since construction progress isn't as high priority to players, what are your thoughts about making the widget more compact and putting it under invasions?

![Screenshot_1646616578](https://user-images.githubusercontent.com/6075693/156952975-5a347cd0-c9e0-4aba-8990-68ca36525920.png)

![Screenshot_1646616511](https://user-images.githubusercontent.com/6075693/156952978-3226d985-791f-4bb5-b34f-c2ba858

[2022-03-07 19:03] vanja-san commented on #113
@SlayerOrnstein That's probably where he belongs.

[2022-03-07 19:57] SlayerOrnstein commented on #113
@vanja-san but does the compact style work for everyone?

[2022-03-07 20:15] TobiTenno commented on #113
i like the look of that. it's a little confusing that it's under invasions, personally.... thinking about it more it makes sense since that's what drives it up, i just dunno if that's clear to everyone.

[2022-03-08 00:06] SlayerOrnstein commented on #113
Then I'll sleep on a title. There's more then enough space for one .

[2022-04-10 16:15] #113 closed

[2022-04-19 15:38] SlayerOrnstein commented on #115
So looks like Android already has something baked into the system with this if you leverage "Bed time" and Do not disturb

[2022-04-19 15:38] #115 closed

[2022-06-20 17:50] AstroPenguan opened #128 "[Feature] Steel Path Incursions & Syndicate Missions"
### Is your feature request related to a problem?

Even though this misions are not part of the most relevant ones, they still are useful for some players.

### Describe the feature you would like.

- Being able to track down the daily steel path incursions
- Being able to select your syndicate(s) of preference and track down missions of them, plus a quick guide/tutorial of how many syndicate medd

[2022-06-20 22:25] SlayerOrnstein commented on #128
Although DE exposes the node the syndicate mission is on they don't tell you what mission type it is. This is the same issue with steel path I believe.

[2022-06-20 23:03] TobiTenno commented on #128
moreso with steel path, they don't expose anything for that

[2022-06-21 12:27] AstroPenguan commented on #128
So... Then it is not gonna be easy to add these features right? Pretty much a shame but if it is like this we can do nothing I guess.

[2022-06-21 23:05] SlayerOrnstein commented on #128
Best I can do is implement the new endpoints as beta features.

[2022-06-27 17:48] AstroPenguan commented on #128
Thanks, I was sure i missed something but yeah, it was Zariman Bounties, about sp incursions, dont worry, take your time.

[2022-07-09 23:42] GamerMan27 opened #136 "Navis not switching platforms"
I play on PS4, and wanted an app that would help we with tracking events on the game without booting it up. So I install the app, boot it up, and go to settings and click the PS4 symbol. Nothing changes other than PS4 is now blue, instead of grey. I'm using a Motorola G Pure, with 3 gigabytes of RAM and 32 gigs of ROM. My Operating system seems to be android version 11.

[2022-07-10 19:31] SlayerOrnstein commented on #136
All fixed

[2022-07-10 22:45] #136 closed

[2022-08-25 19:02] Diriangen71 opened #156 "[Feature] Show element rotation of melee tenet weapons"
### Is your feature request related to a problem?

No

### Describe the feature you would like.

Just have a fast view of the element rotation of tenet melee weapons that are active in that specific time, that weapons can be bought from Ergo Glast

### Additional context

Ergo Glast sell melee weaposn that every certain time change base element un a rotation, i want yo view wich element si he sell

[2022-08-25 19:04] TobiTenno commented on #156
not possible with the data we have available. the element rotation is not set.

[2022-08-25 19:04] #156 closed

[2022-08-30 19:52] CapoFantasma97 opened #160 "[Feature] In the Codex, make Relics interactable to show where they drop and at which rate"
### Is your feature request related to a problem?

The codex system you implemented in the app is fantastic. Searching for an item (example Strun Prime) provides which components it's made of, and tapping on those components shows where they drop.

In the case of prime components however, it only shows which relics drop them but not in which missions to obtain said relics.
And searching for the sp

[2022-08-30 21:45] SlayerOrnstein commented on #160
I can definitely look into adding something like this.

[2022-09-10 21:39] SlayerOrnstein commented on #160
@TobiTenno is sorting by drop chance that same as this?

[2022-09-11 18:46] TobiTenno commented on #160
yeah, pretty much. same thing as genesis' `/whereis`

[2022-09-12 20:20] SlayerOrnstein commented on #160
@CapoFantasma97 does that work for you and then later on we can look into doing something more with it. Probably don't need to remove the relic types since they are what show up in Warframe items and I would rather keep it untouched, what I can do is figure out the formula (if not already available) and figure out a way to make a UI where you can see the drop chance increase per type.

[2022-09-12 21:58] CapoFantasma97 commented on #160
Maybe I'm missing something, but I don't see anything different. I downloaded from https://github.com/WFCD/navis/actions/runs/3036727134

[2022-09-12 22:02] CapoFantasma97 commented on #160
I also noticed that the list of relics for a given component are listed from the least chance of dropping first, which is weird lol.

[2022-09-12 22:19] SlayerOrnstein commented on #160
I actually haven't pushed the latest stuff yet

[2022-09-13 00:43] SlayerOrnstein commented on #160
@CapoFantasma97 still working on the second part but for now the dev builds will now display drop locations and rates when you search them up in the codex. Turns out it was bug...

[2022-09-14 00:22] wfcd-bot-boi commented on #160
:tada: This issue has been resolved in version 2.8.0-beta.3 :tada:

The release is available on [GitHub release](https://github.com/WFCD/navis/releases/tag/v2.8.0-beta.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-14 13:21] CapoFantasma97 commented on #160
Absolutely fantastic, I love it.

Another useful detail that might be added: a note for vaulted relics.

Not vaulted relics work correctly in that a list of mission with their rotation and drop chance is shown. But vaulted relics of course don't have any drops section, so they remain with an empty page. Users who don't realize this might be confused and not understand that's a vaulted relic they'r

[2022-09-14 14:08] SlayerOrnstein commented on #160
Yeah that was gonna be a whole other commit because I wanted to see if anything else had a similar thing

[2022-09-19 11:41] SlayerOrnstein commented on #128
wait so steel path incursions aren't a thing anymore?

[2022-09-19 12:13] #160 closed

[2022-09-21 22:32] SlayerOrnstein commented on #128
Yeah so looks like incursions aren't a thing anymore, so marking this as complete.

[2022-09-21 22:32] SlayerOrnstein commented on #128
Yeah so looks like incursions aren't a thing anymore, so marking this as complete.

[2022-09-21 22:32] #128 closed

[2022-09-24 00:38] wfcd-bot-boi commented on #160
:tada: This issue has been resolved in version 2.8.0 :tada:

The release is available on [GitHub release](https://github.com/WFCD/navis/releases/tag/v2.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-25 11:29] gbravery opened #191 "Entrat Bounties swapped."
Looks like Entrati Isolation Vault A and B are swapped.

I.e. the level and rewards for A is being labelled as B, and vice versa.

[2022-09-25 11:30] gbravery commented on #191
![Screenshot_20220925-123009](https://user-images.githubusercontent.com/28046548/192141181-44de4b79-f5f4-46d1-969b-35f811c164a1.png)

[2022-09-25 12:35] TobiTenno commented on #191
Levels and the reward strings come from DE's data, so without a snapshot of that at the same moment, we can't do anything to fix the API

[2022-10-16 19:59] SlayerOrnstein commented on #191
Closing as a DE issue then. I'll see if I can grab a snapshot or two of this to help out.

[2022-10-16 19:59] #191 closed